* {
    margin: 0;
    padding: 0;
    font-family: FuturaNewBook;
}

@font-face {
    font-family: FuturaNewBook;
    src: url(../fonts/FuturaNewBook.otf);
    font-weight: 400;
    font-style: normal;
}

body {
    background: url(../img/white-backgr.png);
}

button.feedback-btn {
    background: url(../img/feedback-btn-bckgr.png) no-repeat;
    border: none;
    height: 80px;
    padding-left: 100px;
    text-align: left;
    font-weight: 600;
    color: #fff;
    position: fixed;
    bottom: 50px;
    right: 200px;
    text-shadow: 0.5px 0.5px 0.5px #000;
}

.right {
    float: right;
}

.left {
    float: left;
}

h1 {
    font-size: 67px;
    line-height: 77px;
    color: #ffffff;
    font-weight: 300;
}

.franchise-options-wrap h2 {
    color: #fff;
}

h2 {
    font-size: 47px;
    line-height: 40px;
    font-weight: 300;
    text-align: center;
}

h3 {
    font-size: 27px;
    font-weight: 300;
    margin-top: 15px;
}

img {
    width: 100%;
}

.header-top-wrap {
    background: #fdddc4;
    padding: 40px 0;
}

.header-nav {
    float: right;
}

.header-nav li {
    display: inline-block;
    padding: 0 7px;
}

.header-nav li a {
    text-decoration: none;
    color: #333333;
    font-size: 15px;
    line-height: 23px;
}

.header-slider {
    position: relative;
}

.header-slider img {
    width: 100%;
    position: absolute;
}

.h1-descr {
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 65px;
}

.header-bot-advantages {
    overflow: hidden;
    margin-bottom: 65px;
}

.header-bot-advantages-item {
    margin: 0 40px 50px 0;
    color: #ffffff;
    font-size: 17px;
    text-align: left;
    width: 180px;
}

.header-bot-advantages-item:nth-child(odd) {
    float: left;
}

.header-bot-advantages-item:nth-child(even) {
    float: right;
}
 
.header-bot-advantages-item b {
    color: #fdddc4;
}

.slick-prev,
.slick-next {
    background: url(../img/slider-arrow-sprite.png);
    border: 0;
    text-indent: -9999px;
}

.slick-prev {
    width: 76px;
    height: 76px;
    background-position: 0 0;
    position: absolute;
    top: 40%;
    left: 18%;
    z-index: 10;
}

.slick-next {
    width: 76px;
    height: 76px;
    background-position: 0 -76px;
    position: absolute;
    top: 40%;
    right: 18%;
}

.slick-dots li {
    text-indent: -9999px;
    display: inline-block;
    width: 45px;
    height: 2px;
    background: #817a77;
    margin-right: 8px;
}

.slick-dots li.slick-active {
    background: #fff;
}

.advantages-wrap {
    padding: 65px 25px;
}

.advantages-item-wrap {
    overflow: hidden;
    margin-top: 40px;
}

.advantages-item {
    text-align: center;
    position: relative;
    margin-bottom: 35px;
    margin-bottom: 70px;
}

.advantages-item-descr {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    font-weight: 400;
    line-height: 30px;
    font-size: 24px;
}

.franchise-options-wrap {
    background: url(../img/franch-backgr.png) 50% 0 no-repeat;
    background-size: cover;
    padding: 65px 0 110px;
    text-align: center;
}

.franchise-options-btns {
    margin: 70px 115px;
    width: auto;
    overflow: hidden;
}

.franchise-option-btn {
    width: 50%;
    padding: 15px;
    background: none;
    border: none;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    border: 1px solid #fdddc4;
    border-collapse: collapse;
}

.franchise-option-btn.active {
    color: #fff;
    background: #fdddc4;
    color: #000
}

.franchise-options-note,
.franchise-options-note-silver {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 40px;
    text-align: left;
}

.franchise-options-note-terms {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    color: #000;
    background: #fff;
    padding: 5px;
    font-size: 20px;
    font-weight: 300;
}

.franchise-options-note-terms a {
    color: #000;
    font-weight: 300;
    text-decoration: underline;
}

.franchise-wrap {
    text-align: center;
    padding: 70px 0;
}

.franchise-item-wrap {
    margin: 70px 0 50px;
    overflow: hidden;
}

.franchise-item-img {
    width: 131px;
    height: 131px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.franchise-options-note {
    display: none;
}

.franchise-options-note.active {
    display: block;
}

.franchise-item {
    height: 280px;
    overflow: hidden;
}

.franchise-item-name {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
}

.franchise-item-descr {
    font-weight: 400;
    font-size: 15px;
    color: #999999;
}

.franchise-lear-more-btn button,
.send-application-btn button{
    background: #c20d4e;
    padding: 15px 45px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.send-application-btn button {
    margin-bottom: 100px;
}

#our-stories-map {
    width: 100%;
    height: 570px;
}

.our-stories-wrap {
    position: relative;
}

.our-stories-reviews {
    background: #fff;
    width: 670px;
    height: 570px;
    padding: 30px 40px 30px;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
}

.reviews-user-name {
    font-size: 20px;
    color: #333333;
    margin-bottom: 20px;
}

.reviews-user-text {
    font-size: 16px;
    color: #999;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 20px;
    width: 100%;
}

.reviews-user-photo {
    width: 139px;
    height: 139px;
    margin-bottom: 10px;
}

.reviews-user-photo img {
    width: 139px;
    height: 139px;
    border-radius: 50%;
}

.reviews-interior-photo {
    width: 319px;
    height: 148px;
}

.our-stories-reviews .slick-prev {
    display: none;
}

.our-stories-reviews .slick-next {
    background: url(../img/reviews-slider-arr.png);
    width: 76px;
    height: 76px;
    position: absolute;
    top: 30px;
    right: 70px;
}

footer {
    text-align: center;
    background: url(../img/footer-backgr.png) 50% 0;
    background-size: cover;
    padding: 70px 0 0;
}

footer h2,
footer h3 {
    color: #fff;
    font-weight: 300;
}

footer h3 {
    margin-bottom: 50px;
}

.application-form {
    width: 800px;
    overflow: hidden;
    margin: 0 auto 60px;;
}

.application-form input {
    width: 45%;
    display: inline-block;
    height: 75px;
    font-size: 27px;
    font-weight: 300;
    color: #fff;
    background: #786e6d;
    opacity: 0.5;
    border: none;
    margin-bottom: 25px;
    padding: 30px;
}

.application-form input:focus {
    background: none;
    border: 2px solid #feeddf;
}

.application-form input:nth-child(odd) {
    float: left;
}

.application-form input:nth-child(even) {
    float: right;
}

.application-form input::-webkit-input-placeholder {
    color: #fff;
}

.application-form input::-moz-placeholder {
    color: #fff;
   }

.footer-contacts-wrap {
    background: #fdddc4;
    padding: 40px 0 45px;
}

.footer-contacts-item {
    display: inline-block;
    font-size: 20px;
    color: #000;
}

.footer-contacts-item.company {
    font-weight: 300;
    float: left;
    color: #000;
}

.footer-contacts-item.site a {
    font-weight: 300;
    color: #000;
    text-decoration: underline;
    margin-left: 25px;
}

.thank-message {
    display: none;
}

.thank-message {
    font-size: 30px;
    color: #fff;
    opacity: 0.6;
    font-weight: 300;
    margin-bottom: 50px;
}

#application {
    clear: both;
}

.header-slider-item {
    background-repeat: no-repeat;
    background-size: cover;
}

.header-slider .slick-dots {
    position: relative;
    width: 1000px;
    margin: -50px auto 0;
    padding: 0 15px;
}

.header-slider .slick-dots li {
    cursor: pointer;
}

footer > .container {
    min-height: 530px;
}

.franchise-options-wrap a {
    background: #c20d4e;
    padding: 15px 45px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}


/*media*/

@media (max-width: 1800px) {
    .header-slider .slick-prev {
        left: 14%;
    }
    .header-slider .slick-next {
        right: 14%;
    }
}

@media (max-width: 1600px) {
    .header-slider .slick-prev {
        left: 10%;
    }
    .header-slider .slick-next {
        right: 10%;
    }
}

@media (max-width: 1400px) {
    .header-slider .slick-prev {
        left: 5%;
    }
    .header-slider .slick-next {
        right: 5%;
    }
}

@media (max-width: 1200px) {
    .header-slider .slick-next,
    .header-slider .slick-prev {
        display: none !important;
    }
}

@media (min-width: 768px) { 
    .header-slider .slick-dots {
        width: 900px;
    }
}

@media (min-width: 992px) {
    .header-slider .slick-dots {
        width: 1000px;
    }
}

@media (min-width: 1200px) {
    .header-slider .slick-dots {
        width: 1000px;
    }
}
    